<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">    <title>Movie Lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<div class="container">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Mon Cala Coding Challage</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/api/v1/movie">Movie API</a></li>
                <li><a href="/api/v1/actor/">Actor API</a></li>
                <li><a href="/api/v1/rate">Rate and Comment</a></li>
                <li><a href="/docs/">Swagger API view</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </div>
    </nav>
        {% block content %}
        {% endblock %}

</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>